{% extends "base.html" %}
{% block title %}Dr.RC{% endblock %}
{% load static %}
{% block content %}
<div class="container my-3">
    <form method="post" action="{% url 'common:signup' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="이름을 입력해주세요"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1" placeholder="비밀번호를 입력해주세요"
                   value="{{ form.password1.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="비밀번호를 한번 더 입력해주세요"
                   value="{{ form.password2.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="이메일을 입력해주세요"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary clickEvent" name="singupSignup">가입하기</button>
    </form>
</div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'javascript/interaction.js' %}"></script>
{% endblock %}
