.comment {
    border-top:dotted 1px #ddd;
    font-size:0.7em;
}


h1{
    background-color: brown;
    color: white
}

#chatbot{
    margin-left: auto; 
    margin-right: auto;
    width: 70%; 
    margin-top: 50px; 
    border-radius: 10px; 
    border: 1px solid gray;
    padding: 10px;
}
.botText{
    font-family: monospace; 
    font-size: 14px;
    text-align: left;
    line-height: 25px;
    color: rgb(109,111,109);
}

#userInput{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 70%;
    text-align: center;
}

#textInput{
    border: 3px solid white; 
    border-bottom: 3px solid #afafaf;
    font-family: monospace; 
    font-size: 14px; 
    width: 60%;
    padding: 16px;
    color: rgb(213, 67, 41)
}
    
#buttonInput{
    padding: 5px; 
    font-family: monospace; 
    font-size: 14px; 
    border: 3px solid #5b605c;
    background-color: rgb(40,48,40);
    color:white;
    border-radius: 10px;
}

