{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  <title>{% block title %}{% endblock %}</title>
  {% block styles %}{% endblock %}
</head>
<body>
<!-- 네비게이션바 -->
<div class="max-w-full mx-auto flex flex-row justify-stretch overflow-hidden" style='height: 960px;'>
  {% include "navbar.html" %}
  <div class="flex flex-col w-full px-7 py-10">
    {% block content %}{% endblock %}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="text/javascript" src="{% static 'javascript/interaction.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>