{% extends 'base.html' %}
{% block title %}Dr.RC{% endblock %}
{% load static %}  <!-- 정적 파일 태그를 사용하기 위해 필요합니다. -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/pedia.css' %}">  <!-- pedia 페이지 전용 CSS -->
{% endblock %}
{% block content %}
<div class="title-with-icon">
    <img src="{% static 'images/kinnaver.svg' %}" alt="Icon" class="title-icon">
    <h1 class="page-title">Naver 지식 백과</h1>
  </div><div class="pedia-container">
    <!-- 검색 폼 -->
    <form class="search-form" onsubmit="search(); return false;">
        <input type="text" id="search-query" placeholder="검색어 입력" class="search-input">
        <button type="submit" class="search-btn">검색</button>
    </form>
    <div id="search-results"></div>

    <!-- 검색 결과 표시 영역 -->
    <div id="search-results" class="search-results"></div>
</div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'javascript/pedia.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/interaction.js' %}"></script>
{% endblock %}